src/path/to/file/you/want/to/ignore.js
src/another-path/to/file/you/want/to/ignore.js
src/serviceWorker.js
src/.eslintrc.js
src/helpers/useToggleStyle.js
src/reducers/courseReducer.js
src/reducers/productReducer.js
src/components/common/misc/Notification.jsx
src/components/common/Section.jsx
src/components/common/SoftBadge.jsx
src/components/common/Flex.jsx
src/components/common/FalconCardFooterLink.jsx
src/components/common/FalconCardHeader.jsx
src/components/common/FalconCloseButton.jsx
src/components/navbar/top/NavbarTop.jsx
src/components/navbar/top/NavbarNavLink.jsx
src/components/navbar/top/NineDotMenu.jsx
src/components/landing/Process.jsx
src/components/dashboards/default/SharedFiles.jsx
