.test-img {
  height: 35rem;
}

.test-card {
  background-color: #fafffe;
}

.success-card {
  background-color: #fafffe;
}

.stripepartner-card {
  flex-direction: row;
  background-color: #fafffe;
}

.partner-image {
  width: 30%;
}

.transferform-field-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: red;
}

.cart {
  background-image: url("../../assets/img/stripe/checkout1.jpg");
}
